body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

main {
    width: 90%;
    margin: auto;
}

h1 {
 font-weight: 300;
}

h2 {
 font-weight: 300;
}


footer {

}

section.fondo-gris {
    background: lightgrey;
}

footer.fondo-gris {
    background: grey;
    color: white;
}

.nueva-consultora .campo{
    margin: 10px ;
}

.nueva-consultora .nombre-campo{
    margin-right: 10px;
}

.login .campo{
    margin: 10px ;
}

.login .nombre-campo{
    margin-right: 10px;
}
