{{# partial "titulo" }}	
	<title>Consultoras - Consultorea.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<div class="container">
	<div class="row">
		<div class="col-md-11">	
			
		<table class="table table-striped" >
			<hr>
				<td>Nombre</td>
				<td>Cantidad de empleados</td>
			</hr>
		{{#consultoras}}
			<tr>
				<td>{{nombre}}</td>
				<td>{{cantidadEmpleados}}</td>
			</tr>
		{{/consultoras}}				
		</table>
		</div>
		<div class="col-md-1">
		adsadadasd
		</div>
	</div>
</div>

{{/partial}}
				
{{> layout.hbs }}