{{# partial "titulo" }}
    <title>Consultorea.me - Nuestras Consultoras</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Nuestras Consultoras</h2>

        <p>A continuación un listado de nuestras consultoras más importantes</p>

        <form action="/consultoras" method="GET">
            Buscar por nombre
            <input type="text" name="filtro" placeholder="Ingrese el nombre de la consultora a buscar">
            <input type="submit" value="Buscar">
        </form>

        <ul>
            {{#consultoras}}
                <li><a href="consultoras/{{id}}">{{nombre}}</a></li>
            {{/consultoras}}
        </ul>

    </section>
{{/partial}}

{{> layout.html.hbs }}
