{{# partial "titulo" }}
    <title>Consultorea.me - Consultora {{username}}</title>
{{/partial}}

{{# partial "contenido" }}
 <section>
     <div>
         <span>Nombre:</span><span>{{username}}</span>
     </div>
     <div>
         <span>Cantidad de empleados:</span><span>{{cantidadEmpleados}}</span>
     </div>
 </section>
{{/partial}}

{{> layout.html.hbs }}