<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav>
        <a href="/">Home</a>
        <a href="/consultoras">Nuestras Consultoras</a>
	</nav>
	<main>
		<h1>Consultorea.me</h1>

        <div>
            Hubo un error mostrando la página anterior
        </div>


	<footer>
		Copyright {{anio}} Consultorea.me
	</footer>
</body>

</html>
