{{# partial "titulo" }}
    <title>Consultorea.me - Login</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Iniciar Sesi칩n</h2>

        <form class="login" action="/login" method="POST">
            <div class="campo">
                <span class="nombre-campo">Nombre de usuario:</span><input type="text" name="username" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="campo">
                <span class="nombre-campo">Contrase침a:</span><input type="password" name="password" placeholder="Ingrese contrase침a">
            </div>
            <input type="submit" value="Iniciar Sesi칩n">
        </form>



    </section>
{{/partial}}

{{> layout.html.hbs }}
