{{#partial "principal" }}
    <form method="POST">
           <label>Nombre</label>
           <input type="text" name="nombre">
           <label>Contraseña</label>
           <input type="password" name="contrasenia">
           <input type="submit">
    </form>
{{/partial}}

{{> layout.html.hbs }}