{{# partial "titulo" }}	
	<title>Consultorea.me</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>Bienvenido a Consultorea.me</h1>
</div>	
{{/partial}}
				
{{> layout.hbs }}