<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav>
	    Hola soy una barra de navegacion
	</nav>
	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
		Copyright {{anio}}
	</footer>
</body>

</html>
