<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
    {{# block "titulo" }}
{{/block}}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/consultoras">Nuestras Consultoras</a>
        <a href="/login">Iniciar Sesión</a>
    </nav>
	<main>
		<h1>Consultorea.me</h1>
            {{# block "contenido" }}
            {{/block}}
	</main>
	<footer class="fondo-gris">
        Copyright 2020 Consultorea.me
	</footer>
</body>

</html>
