<form method="POST" action="/consultoras">
    <label for="nombre">Nombre</label>
    <input name="nombre" type="text">

    <label for="cantidadEmpleados">Cantidad de empleados</label>
    <input name="cantidadEmpleados" type="number" min="1" max="100" >

    <input type="submit">
</form>